
Licence Key GEN/admin/private_key.pem
*.pem
!**/public_key.pem

**/src/config/users.enc
**/src/config/encrypted_secret.key
**/src/config/app.salt


dist/
build/
*.spec
*.exe

__pycache__/
*.pyc
*.pyo


*.sgp
!SIGIL/plugins/hello_world.sgp
!SIGIL/plugins/calculator.sgp
!SIGIL/plugins/password_gen.sgp
!SIGIL/plugins/stopwatch.sgp
!SIGIL/plugins/system_info.sgp

Licence Key GEN/admin/last_licence.txt

.venv/
venv/

.vscode/
.idea/
*.swp

Thumbs.db
.DS_Store

DOCS/
*.bat